<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/send_message" method="post">
        <input type="email" name="email_sender" placeholder="Email" required>
        <input type="email" name="email_receiver" placeholder="Email" required>
        <input type="text" name="subject" placeholder="subject" required>
        <textarea name="body" placeholder="body" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Send Message">


    </form>
</body>
</html>
